version: "3.9"

services:
  controller:
    build:
      context: .
      dockerfile: docker/controller.Dockerfile
    container_name: controller
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    networks:
      - net

  worker:
    build:
      context: .
      dockerfile: docker/worker.Dockerfile
    networks:
      - net
    environment:
      - PORT=4000
      - CONTROLLER_URL=http://controller:5000
    expose:
      - "4000"
    scale: 4

networks:
  net:
